.formCenter{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.form > * > p{
    font-size: small;
}

.form > * > input{
    width: 12em;
    height: 2.2em;
}

.form{
    display: grid;
    grid-template-areas: 
    "formTitle formTitle"
    "name name"
    "email number"
    "interviewDate startDate"
    "position position"
    "paragraph paragraph"
    "fileUpload fileUpload"
    "upload upload";
    grid-template-rows: 1fr  2fr 2fr 2fr 1fr 10fr 2fr;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
    border: 5px solid #1F232C;
    width: max-content;
    text-align: center;
    font-size: larger;
}

.form > div{
    padding: 10px;
}

.form > div.formTitle{
    grid-area: formTitle;
    border-bottom: 5px solid;
}

.form > div.name{
    grid-area: name;
}

.form > div.email{
    grid-area: email;
}

.email > input{
    width: 50%;
}

.form > div.number{
    grid-area: number;
}

.form > div.position{
    grid-area: position;
}

.form > div.position > input{
    width: 20em;
}

.form > div.interviewDate{
    grid-area: interviewDate;
}

.form > div.startDate{
    grid-area: startDate;
}

.form > div.startdate > input{
    width: 10em;
}

.form > div.paragraph{
    grid-area: paragraph;
}

.form > div.paragraph > input{
    width: 56em;
    height: 60em;
}

.form > div.fileUpload{
    grid-area: fileUpload;
    border-bottom: 5px solid;
}

.form > div.upload{
    grid-area: upload;
    margin-bottom: 1em;
}