.requirements{
    border: 2px solid;
    margin-top: 2.4em;
    width: 60%;
    height: auto;
}

.specifications{
    border: 2px solid;
    width: 90%;
    height: auto;
}

.box{
    display: flex;
    justify-content: center;
}